/*
#476286
#9BA8BA
#5B636E
#6388BA
#31353B 
*/

body {
	background-color: #fefefe;
	font: 16px/24px "Helvetica Neue", Arial, Helvetica, sans-serif;
	line-height: 24px;
	margin: 0;
}

a[href] {
	color: #476286;
	text-decoration: none;
}

#page {
	margin: 0 auto;
  max-width: 660px;
  padding-bottom: 40px;
}

article > a {
  margin: 0 auto;
  display: block;
  max-width: 660px;
}

#content, #archive {
	text-shadow: #ffffff 0 1px 0;
}

.yellow-highlight {
  background-color: #ffff00;
  border: 0 #fefefe solid;
}

#archive ul {
	list-style: none;
	margin: -42px 0 40px 0;
}

#archive li {
	margin: 0 0 0 20px;
}

header {
	margin: 60px auto;
	text-shadow: #ffffff 0 1px 0;
}

header h1 {
	text-align: left;
	vertical-align: middle;
	font-size: 30px;
	line-height: 32px;
    margin: 0 auto;
    max-width: 660px;
    color: #5B636E;
}

#page {
	color: #555555;
}

#page h2 {
	color: #5B636E;
	width: 100%;
	text-align: left;
}

article {
	color: #555555;
	margin: 0 0 50px 0;
}

article h2 {
	line-height: 28px;
	padding: 0;
	margin: 0 auto;
  max-width: 660px;
}

article .postmeta {
	line-height: 22px;
	color: #999999;
	margin: 0;
  max-width: 660px;
  margin: 0 auto;
	padding: 5px 0 0 0;
}

.postcontent h1 {
	color: #5B636E;
	width: 100%;
	text-align: left;
	padding-bottom: 5px;
	border-bottom: 1px #9BA8BA solid;
  margin: 0 auto;
  max-width: 660px;
}

.postcontent blockquote {
	color: #5B636E;
	padding: 10px 0 10px 20px;
	border-left: 4px #9BA8BA solid;
  margin: 25px auto;
  max-width: 580px;
}

.postcontent img, figure {
	display: block;
	margin: 0 auto;
	max-width: 760px;
}

figcaption {
  font-size: 13px;
  color: #555555;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
}

.gist-syntax {
  margin: -8px 0 -30px 0;;
}

.postcontent p, article p, .postcontent h3, .postcontent h4, .postcontent ul {
  margin: 25px auto;
  max-width: 660px;
}

.postcontent iframe {
  margin: 0 auto;
  max-width: 760px;
}

@media all and (max-width: 780px) {
	.postcontent img {
		display: block;
		margin: 0 auto;
		max-width: 300px;
	}
}

#more {
	margin: 40px 0 40px 0;
	text-align: center;
}

footer {
  background-color: #555555;
	color: #ffffff;
}

footer div {
  margin: 0 auto;
  max-width: 660px;
}

footer a[href] {
	color: #cccccc;
}

footer h3 {
	color: #cccccc;
	text-shadow: #000000 0 -1px 0;

}

footer a:hover {
	text-decoration: underline;
}

footer .footer-text {
	margin: 0px auto;
	padding: 10px 0 10px 0;
	text-align: center;
	color: #999999;
	font: 12px/20px "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.footer-text a {
	color: #555555;
}

#flickr_results img {
	margin: 0 2px 2px 0;
	border: 4px solid #333333; 
	width: 90px;
	cursor: pointer;
}

#flickr_results img :last-child {
	margin: 0 0 2px 0;
}

#flickr_results img:hover { 
	border: 4px solid #000000; 
}

#dvorak {
	margin: 0 auto;
	width: 600px;
	height: 300px;
}
