<div id="personal">
  <ul class="social">
      <li>I put my code on <a href="https://github.com/jnjosh">GitHub</a></li>
      <li>I hang mostly on <a href="https://twitter.com/{{ site.twitter_user }}">Twitter</a></li>
      <li>I am the organizer of <a href="http://trianglecocoa.com" title="Triangle CocoaHeads">Triangle CocoaHeads</a></li>
      <li>I work at <a href="http://twotoasters" title="Two Toasters">Two Toasters</a></li>
  </ul>
  <ul class="toolbox">
    <li>You can grab my <a href="http://feeds.feedburner.com/jnjosh">RSS Feed</a></li>
  </ul>
  <br style="clear:both;">

</div>
