<div class="grater-container">
  <div class="grater">
    <div>
    <h3>Hi, I'm Josh</h3>
    <p>
      I am a Husband, Dad, Software Developer at <a href="http://twotoasters.com">Two Toasters</a>, <a href="http://www.badmoviepodcast.com">a podcaster of fine B Movies</a>, a <a href="http://www.imdb.com/name/nm2522715/">filmmaker</a>, and <a href="http://trianglecocoa.com">organizer of the Triangle CocoaHeads and NSCoder Nights</a>.
    </p>
    <p>	
       You can follow me on <a href="twitter.com/jnjosh">Twitter</a> and <a href="github.com/jnjosh">Github</a>.
    </p>
    </div>
    <div>
    <h3>Recent photos</h3>
    <div id="flickr_results"></div>
    </div>
</div>

<div class="footer-text">
  Copyright &copy; {{ site.time | date: "%Y" }} - <a href="{{ root_url }}/">{{ site.author }}</a>
</div>