<div class="grater-container">
  <div class="grater">
    <div>
    <h3>Hi, <a href="{{ root_url }}/about">I'm Josh</a></h3>
    <p>
      I write software and lead the development team at <a href="http://twotoasters.com">Two
      Toasters</a> in Durham. I'm also <a href="http://www.meetup.com/nscoderrtp/">organizer of the
      Triangle CocoaHeads and NSCoder Nights</a>. From time to time you can even catch me <a
      href="{{ root_url }}/speaking">speaking at CocoaHeads or a conference</a>.
    </p>
    <p>	
       You can follow me on <a href="http://twitter.com/jnjosh">Twitter</a> and <a href="http://github.com/jnjosh">Github</a>.
    </p>
    </div>
    <div>
    <h3>Recent <a href="https://www.flickr.com/photos/87151163@N00/">photos</a></h3>
    <div id="flickr_results"></div>
    </div>
</div>

<div class="footer-text">
  Copyright &copy; {{ site.time | date: "%Y" }} - <a href="{{ root_url }}/about">{{ site.author }}</a>
</div>
