---
layout: page
is_top: true
---
{% capture has_category %}{{ page.categories | category_links | size }}{% endcapture %}

{% for post in paginator.posts %}

<article>
  {% if post.external-url %}
  <h2>&rarr; <a rel="external-url" href="{{ post.external-url }}">{{ post.title }}</a></h2>
  {% else %}
  <h2><a rel="full-article" href="{{ post.url }}">{{ post.title }}</a></h2>
  {% endif %}

  <div class="postmeta">Posted on <time datetime="{{post.date}}" pubdate>{{post.date_formatted}}</time> in 
    <span class="categories">
      {{ post.categories | category_links }}
    </span>
    {% if post.external-url %}<a rel="full-article" href="{{ post.url }}">&infin;</a>{% endif %}
  </div>
  
  <p>{{ post.content | excerpt }}</p>
  
  {% if post.external-url %}
  {% else %}
  <a rel="full-article" href="{{ post.url }}">Continue Reading »</a>
  {% endif %}
  
</article>

{% endfor %}

<div id="more">
  <a href="{{ root_url }}/posts">Blog Archives »</a>
</div>