{% capture root_url %}{{ site.root | strip_slash }}{% endcapture %}
<!DOCTYPE html>
<html lang="en">
	<head>
    	{% include head.html %}
  	</head>
	<body>
		<header>
			{% include header.html %}
	    </header>

    	<div class="grater-container" id="content">
	    	<div class="headerpush"></div>
			{{ content | expand_urls: root_url }}
			<div class="footerpush"></div>
	    </div>

    	<footer>
			{% include footer.html %}
	     </footer>
      	
      	{% include after_footer.html %}
  	</body>
</html>
