---
layout: default
---
{% capture show_comments %}{% if site.disqus_short_name and page.comments != false and site.disqus_show_comment_count == true %}t{% endif %}{% endcapture %}
{% if page.author %}
  {% assign author = page.author %}
{% else %}
  {% assign author = site.author %}
{% endif %}
{% capture has_category %}{{ page.categories | category_links | size }}{% endcapture %}
<article>
	{% if page.external-url %}
	<h2>&rarr; <a rel="external-url" href="{{ page.external-url }}">{{ page.title }}</a></h2>
	{% else %}
	<h2><a href="{{ page.url }}">{{ page.title }}</a></h2>
	{% endif %}
	
	<div class="postmeta">Posted on <time datetime="{{page.date}}" pubdate>{{page.date_formatted}}</time> in {% if category != '0' %}
	  <span class="categories">
		{{ page.categories | category_links }}
	  </span>
	  {% endif %}</div>
	<div class="postcontent">
		{{ content }}
	</div>
</article>